*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:hsl(280, 27%, 98%);  
     font-family: "Poppins", sans-serif;   
}

#fundo{
   width: 100vw;
    height: 100vh;
  background: linear-gradient(135deg, #6B4EFF,#a381ff);  
    background-size: cover; /* ocupa toda a tela */
    background-position: center; /* centraliza */
    background-repeat: no-repeat; /* não repete */
    z-index: -1;
   
}
 #tec{ 
    margin-left: 900px;
    position: absolute;
   margin-top: 250px;
   
   width: 20vw;
   height: 30vh;
    
 }

 .logo{
    position: absolute;
    margin-left: 930px;
    margin-top: 280px;
   width: 15vw;
   height: 20vh;
   border: none;
   display: flex;
 }

 
header {
   
    position: sticky;
    top: 0; 
    z-index: 1000; 
    background-color: #6B4EFF; 
    width: 100%;
    padding: 15px 50px; 
    display: flex; 
    align-items: center;
    justify-content: flex-start; 
    gap: 50px; 
   
}
.link:hover{
    opacity: 0.5;
    text-shadow: 20px 20px 20px  #8a2be2;
}

.link:active{
    opacity: 0.10;
}



#button-section{
    margin-left: 40px;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    background-color: #beadcd;
    margin-top: 5px;
    color: #0b060f;
}

#button-section:hover{
    opacity: 0.5;
    text-shadow: 0px 0px 10px #0b060f;
}

#button-section:active{
    opacity: 0.10;
}

.principal{
    margin-top: 100px;
    margin-left: 100px;
    font-size: 50px;
}

.segundario{
    width: 600px;
    margin-left: 100px;
    margin-top: 10px;
    color: #e4e3e5;
    font-size: 15px;
    line-height: 35px;
}

/** pt2 do site **/

 
 .fundo-2{
     width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #6B4EFF,#a381ff);  
    background-size: cover; /* ocupa toda a tela */
    background-position: center; /* centraliza */
    background-repeat: no-repeat; /* não repete */
    z-index: -1;
 }

 
 .lista-1{
    margin-top: 170px;
    margin-left: 150px;
    font-size: 20px;
    position: absolute;
    
 }

 .pro{
    margin-top: 100px;
    margin-left: 120px;
    font-size: 38px;
    position: absolute;
 }

 .button-section-2{
    margin-top: 320px;
     margin-left: 150px;
     background-color: #f8f6f6;
    color: #5c218d;
    border-radius: 20px;
    padding: 10px 20px;
    border: 15px none #0c0214;
     position: absolute;
    cursor: pointer;
     box-shadow: 5px 5px 30px #c13fc1;
    
 }

 .button-section-2:hover{
    opacity: 0.5;
    text-shadow: 0px 0px 10px #0b060f;
}

.button-section-2:active{
    opacity: 0.10;
}

carrosel {
    position: relative;
    width: 30vw;
    height: 30vh;
    overflow: hidden;
    border-radius: 20px;
}

.imgs {
    position: absolute;
    width: 13%;
    height: 15%;
    object-fit: cover;
    animation: slide 12s infinite;
    opacity: 0;
     margin-left: 947px;
    margin-top: 295px;
}

.imgs:nth-child(1) { animation-delay: 0s; }
.imgs:nth-child(2) { animation-delay: 4s; }
.imgs:nth-child(3) { animation-delay: 8s; }

@keyframes slide {
    0%   { opacity: 0; }
    5%   { opacity: 1; }
    30%  { opacity: 1; }
    35%  { opacity: 0; }
    100% { opacity: 0; }
}

@media (max-width: 700px) {
 
.segundario{
    width: 350px;
    
}

.principal{
    margin-top: 70px;
}

.header{
    margin-right: 45px;
    position: absolute;
    
}
#button-section{
    margin-left: 10px;
    position: absolute;
    margin-top: 90px;
}

.logo{
      margin-left: 150px;
      position: absolute;
      width: 0;
}

.lista-1{
       margin-top: 250px;
}

.button-section-2{
    margin-top: 400px;
}

}
