*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     color: blanchedalmond;
     font-family: "Poppins", sans-serif;  
}

.site-2{
    background: linear-gradient(135deg, #6B4EFF,#a381ff);
    width: 100vw;
    height: 100vh;
    
}

.link{
 color: #f8f6f6;
    position: sticky ;
    top: 20px;
     margin-left: 150px;
     cursor: pointer;
}
.link:hover{
    opacity: 0.5;
    text-shadow: 20px 20px 20px  #8a2be2;
}

.link:active{
    opacity: 0.10;
}



.texto{
    width: 1000px;
    font-size: 13px;
   margin-top: 70px;
   position: absolute;
   margin-left: 200px;
   line-height: 35px;
    color: #959494;
   
}

.about{
    font-size: 30px;
    margin-left: 250px;
    margin-bottom:50px;
     font-weight: bold;
}
@media (max-width: 700px) {
 .texto{
    width: 350px;
    margin-left: 50px;
 }

 .about{
    margin-left: 50px;
 }

 .link{
    display: inline-block;
    margin-left: 50px;
 }
}